@font-face {
    font-family: 'Minecraft Bold';
    src: url('Minecraftfivebold.eot');
    src: url('Minecraftfivebold.eot?#iefix') format('embedded-opentype'), url('../fonts/Minecraftfivebold.woff2') format('woff2'), url('../fonts/Minecraftfivebold.woff') format('woff'),
        url('../fonts/Minecraftfivebold.ttf') format('truetype'), url('../fonts/Minecraftfivebold.svg#Minecraftfivebold') format('svg');
    font-style: normal;
    font-display: swap;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
}

:root {
    --grayColor: #222;
    --lightGrayColor: #333;
    --lightGrayColor2: #555;
    --whiteColor: #fff;
}

body {
    font-family: 'Minecraft Bold';
    background: rgb(182, 34, 195);
    background: linear-gradient(71deg, rgba(182, 34, 195, 1) 0%, rgba(125, 135, 190, 1) 47%, rgba(45, 253, 181, 1) 100%);
}

header {
    width: 100vw;
    z-index: 9998;
    position: fixed;
    box-shadow: 0 4px 1px #22222250;
    background: var(--grayColor);
}

.pageContainer {
    width: 100vw;
    height: 100vh;
}
