@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

@font-face {
    font-family: 'Minecraft Bold';
    src: url('Minecraftfivebold.eot');
    src: url('Minecraftfivebold.eot?#iefix') format('embedded-opentype'), url('../fonts/Minecraftfivebold.woff2') format('woff2'), url('../fonts/Minecraftfivebold.woff') format('woff'),
        url('../fonts/Minecraftfivebold.ttf') format('truetype'), url('../fonts/Minecraftfivebold.svg#Minecraftfivebold') format('svg');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FVF Fernando 08';
    src: url('../fonts/FVFFernando08.eot');
    src: url('../fonts/FVFFernando08.eot?#iefix') format('embedded-opentype'), url('../FVFFernando08.woff2') format('woff2'), url('../fonts/FVFFernando08.woff') format('woff'), url('../fonts/FVFFernando08.ttf') format('truetype'),
        url('../fonts/FVFFernando08.svg#FVFFernando08') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
}

:root {
    --grayColor: #222;
    --lightGrayColor: #333;
    --lightGrayColor2: #555;
    --whiteColor: #fff;
}

body {
    font-family: 'Minecraft Bold';
    background: #444;
    cursor: url(../image/icons/cursorIcon.png) 1 1, auto;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

a {
    cursor: url(../image/icons/hoverIcon.png) 1 1, pointer;
}

header {
    width: 100vw;
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 1px #22222250;
    background: var(--grayColor);
}

.pageContainer {
    width: 100vw;
    height: calc(100vh - 45px);
    margin-top: 45px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--lightGrayColor);
}

::-webkit-scrollbar-thumb {
    background: var(--grayColor);
}

.boxContainer {
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-shadow: 0 4px 1px #22222250;
    color: #fff;
}
